#h {
    border: 5px solid orange;
    padding: 590px 10px 10px 10px;
}
button#roll {
    position: absolute;
    top: 75%;
    left: 10%;
}
#qwerty {
    font-size: 30px;
    position: absolute;
    top: 30%;
    left: 35%;
    border: 10px solid red;
    background-color: aqua;
}
a {
    cursor: pointer;
    color: orange;
}
body {
    text-align: center;
}